{% extends "ppwstory3/base.html" %}

{% block title %}MatkulList {% block addition %}{% endblock %}{% endblock %}

{% block content %}
<h1>Matkul List</h1>
{% block matkulstuff %}
{% endblock %}
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}