{% extends "matkulList/base.html" %}
{% load ppwstory3Customtags %}

{% block addition %}{% endblock %}

{% load static %}
{% block matkulstuff %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}class="alert alert-danger"
    {% else %} class="alert alert-success" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a class="btn" style="margin: 10px;" href="{% url 'matkulList:add' %}">add</a>
<ul>
    {% for matkul in matkulList %}
    <li>
        <div class="postpreview">
            <div class="textbox">
                <h2><a href="{% url 'matkulList:view' matkul.pk %}">{{ matkul.title }}</a></h2>
                <p>
                    {{ matkul.term }}<br>
                    Lecturer: {{ matkul.lecturer }}<br>
                    Total credits: {{ matkul.total_credits }} credits<br>
                    Location: {{ matkul.location }}
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}