{% extends "ppwstory3/base.html" %}

{% block title %}William's Profile{% endblock %}
{% load static %}
{% block content %}
<h1>My Profile</h1>
<h2>Description</h2>
<p>I love to learn new things, but sometimes I got bored and move on to other things. Learned programming earlier in high school, but I still have much to learn.</p>
<h2>Experience</h2>
<ul style="list-style-type: circle; margin-left: 50px;">
    <li>
        <b>Teaching Assistant of Introduction to Digital Systems</b>
        <p>September 2020 - Present<br>
        I help creating tasks and assist students in Introduction to Digital Systems.</p>
    </li>
    <li>
        <b>Junior Member of Network Security and Operating System (NetSOS) SIG in RISTEK, Faculty of Computer Science, Universitas Indonesia</b>
        <p>March 2019 - Present<br>
        In this group, I learned web and app security and test my skills in Capture The Flag competitions.</p>
    </li>
    <li>
        <b>Staff of Capture The Flag Competition</b>
        <p>March 2019 - Present<br>
        I'm assigned to a group whose job was to design challenges for HackerClass, Elimination round, and Final round in jeopardy format.</p>
    </li>
</ul>
<h2>Achievements</h2>
<ul style="list-style-type: circle; margin-left: 50px;">
    <li>
        <b>2nd Place in CTF Pekan RISTEK 2019</b>
        <p>This is an introductory Capture The Flag by RISTEK where we solve basic and easy challenges</p>
    </li>
</ul>
<h2>Skills</h2>
<ul style="list-style-type: circle; margin-left: 50px;">
    <li>
        <b>Basic Programming (Java, Python, C++)</b>
        <p>I have learned Java and Python since I'm entering University. Now, I'm learning to create and use effective algorithms.</p>
    </li>
    <li>
        <b>Basic Web Programming (Django)</b>
        <p>I could create basic web application. I usually create the application using Django.</p>
    </li>
</ul>

{% endblock %}
{% block sidebar %}
<h2>Contact</h2>
<p>Email: william92@ui.ac.id</p>
<h2>Social Media</h2>
<div style="display: inline-block; margin-bottom: 20px;">
    <a href="https://twitter.com/hori_75" ><img src="{% static 'ppwstory3/img/twitter.png' %}" alt="twitter" style="width: 50px; height: 50px;"></a>
    <a href="https://www.linkedin.com/in/william-8611851a0/"><img src="{% static 'ppwstory1/linkedin.png' %}" alt="Linkedin" style="max-width: 59px; max-height: 59px;"></a>
</div>
{% endblock %}