{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>PPW Story 1 | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ppwstory1/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
        <div class="navbar">
            <ul>
                <li><a href="{% url 'ppwstory1:index' %}">PPW Story 1</a></li>
                <li><a href="{% url 'ppwstory3:index' %}">PPW Story 5</a></li>
            </ul>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <p>Created in 2020 by William</p>
        </div>
{% endblock %}