{% extends 'ppwstory1/base.html' %}
{% load static %}
{% block title %}Profile Saya{% endblock %}
{% block content %}
    <h2>Profile Saya</h2>
    <img alt="ProfilePic" src="{% static 'ppwstory1/profilepic.jpg' %}">
    <table>
        <tr>
            <td>Nama</td>
            <td>William</td>
        </tr> 
        <tr>
            <td>NPM</td>
            <td>1906350521</td>
        </tr>
        <tr>
            <td>Angkatan</td>
            <td>2019</td>
        </tr>
    </table>
    <h2>Hobi</h2>
    <p>Main game, Belajar hal baru</p>
    <h2>Deskripsi</h2>
    <p>
        Aku suka belajar hal-hal baru, namun aku cepat bosan. Sebelum kuliah, aku sudah belajar pemrograman,
        tapi sepertinya aku perlu belajar lebih banyak lagi.
    </p>
    <h2>Riwayat pendidikan</h2>
    <ul>
        <li>
            <p>S1 Ilmu Komputer, Universitas Indonesia (2019 - sekarang)</p>
        </li>
        <li>
            <p>SMA Negeri 2 Jakarta (2016 - 2019)</p>
        </li>
        <li>
            <p>SMP Kristen 2 BPK Penabur (2016 - 2013)</p>
        </li>
    </ul>
    <h2>
        Kontak
    </h2>
    <div class="contact">
        <a href="https://twitter.com/hori_75">
            <img alt="twitter" src="{% static 'ppwstory1/twitter.png' %}">
        </a>
        <a href="https://www.linkedin.com/in/william-8611851a0/">
            <img alt="linkedin" src="{% static 'ppwstory1/linkedin.png' %}" style="max-width: 59px; max-height: 59px;">
        </a>
    </div>
{% endblock %}